{% extends 'base.html.twig' %}

{% block title %}Section Service{% endblock %}

{% block body %}
    <h1>Section Service</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <td>{{ service.id }}</td>
                <td>{{ service.name }}</td>
                <td>{{ service.description }}</td>
                <td>
                    <a href="{{ path('app_service_crud_show', {'id': service.id}) }}">voir</a>
                    <a href="{{ path('app_service_crud_edit', {'id': service.id}) }}">éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">pas d'enregistrements trouvés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_service_crud_new') }}">Créer nouveau service</a>
{% endblock %}
