<div class="d-flex justify-content-around my-5">

	<div class="service-card card" style="width: 18rem;">
		<img src="{{asset('images/petit-train.webp')}}" class="card-img-top h-100" alt="illustration de train touristique">
		<div class="card-body d-flex flex-column justify-content-between">
			<h5 class="card-title text-center text-uppercase fs-4">Le "Potitrain"</h5>
			<a href="{{path('app_potitrain')}}" class="btn button mt-auto align-self-center">En savoir +</a>
		</div>
	</div>


	<div class="service-card card" style="width: 18rem;">
		<img src="{{asset('images/famille-restaurant.webp')}}" class="card-img-top h-100" alt="photo d'une famille à table">
		<div class="card-body d-flex flex-column justify-content-between">
			<h5 class="card-title text-center text-uppercase fs-4">restaurants</h5>
			<a href="{{path('app_restaurants')}}" class="btn button mt-auto align-self-center">En savoir +</a>
		</div>
	</div>


	<div class="service-card card" style="width: 18rem;">
		<img src="{{asset('images/homme-et-girafe.webp')}}" class="card-img-top h-100" alt="photo d'un homme avec une girafe">
		<div class="card-body d-flex flex-column justify-content-between">
			<h5 class="card-title text-center text-uppercase fs-4">animations</h5>
			<a href="{{path('app_animations_soigneurs')}}" class="btn button mt-auto align-self-center">En savoir +</a>
		</div>
	</div>


</div></div>
