{% extends "base.html.twig" %}

{% block title %}Choisissez votre animal préféré
{% endblock %}

{% block body %}


	<div class="container mt-5 mb-5">
		<div class="row justify-content-center">
			<div class="col-9">
				<div class="card shadow-lg">
					<div class="card-header bg-dark text-white text-center">
						<h1 class="card-title">{{ animal.firstName }}</h1>
					</div>
					<div class="card-body">
						<div class="text-center mb-4">
							<img src="{{ asset('uploads/images/' ~ animal.image) }}" alt="{{ animal.firstName }}" class="img-fluid rounded">
						</div>
						<div class="mb-3">
							<h3 class="text-uppercase text-center">Son histoire</h3>
							<p class="card-text">{{ animal.description }}</p>
						</div>
						<div>
							<h3>Vous pouvez le retrouver dans l'habitat</h3>
							<p class="card-text">{{ animal.habitat ? animal.habitat.name : 'Non spécifié' }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


{% endblock %}
