{% extends 'base.html.twig' %}

{% block title %}Section Avis
{% endblock %}

{% block body %}
	<h1 class="text-center mt-5">Section Avis</h1>

	<table class="table mt-5">
		<thead>
			<tr>
				<th>N° d'identification (Id)</th>
				<th>Pseudonyme</th>
				<th>Message</th>
				<th>Note</th>
				<th>Validation</th>
			</tr>
		</thead>
		<tbody>
			{% for avi in avis %}
				<tr>
					<td>{{ avi.id }}</td>
					<td>{{ avi.pseudo }}</td>
					<td>{{ avi.message }}</td>
					<td>{{ avi.note }}</td>
					<td>
						{% if avi.status  == 'approved' %}
							<span class="badge bg-success">Validé</span>
						{% elseif  avi.status  == 'pending' %}
							<span class="badge bg-warning">En attente</span>
						{% elseif  avi.status  == 'rejected' %}
							<span class="badge bg-danger">Rejeté</span>
						{% endif %}
					</td>

					<td>
						{% if avi.validation == false %}
							<form method="post" action="{{ path('app_avis_approve', {'id': avi.id}) }}">
								<button class="btn btn-success btn-sm">Approuver</button>
							</form>
							<form method="post" action="{{ path('app_avis_reject', {'id': avi.id}) }}">
								<button class="btn btn-danger btn-sm text-center">Rejeter</button>
							</form>
						{% else %}
							<span class="text-muted">Action terminée</span>
						{% endif %}
					</td>

				</tr>
			{% else %}
				<tr>
					<td colspan="6">Pas d'enregistrements trouvés</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
