{% extends 'base.html.twig' %}

{% block title %}Avis
{% endblock %}

{% block body %}
	<h1>Avis</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>N° d'identification (Id)</th>
				<td>{{ avis.id }}</td>
			</tr>
			<tr>
				<th>Pseudonyme</th>
				<td>{{ avis.pseudo }}</td>
			</tr>
			<tr>
				<th>Message</th>
				<td>{{ avis.message }}</td>
			</tr>
			<tr>
				<th>Note</th>
				<td>{{ avis.note }}</td>
			</tr>
			<tr>
				<th>Validation</th>
				<td>{{ avis.validation ? 'validé' : 'refusé' }}</td>
			</tr>
		</tbody>
	</table>
	<a href="{{ path('app_avis_approve', {id: avis.id}) }}">Valider</a>
    <a href="{{ path('app_avis_refuse', {id: avis.id}) }}">Refuser</a>
	<a class="btn-dark" href="{{ path('app_avis_crud_index') }}">retour à la liste</a>

	{{ include('avis_crud/_delete_form.html.twig') }}
{% endblock %}
