<div class="container">
	<h1>Panneau d'administration d'Arcadia</h1>
	<p>Bienvenue. Vous êtes connecté en tant que
		{{user.role}}
	</p>
	<div class="col-md-4">
		<ul>
			<li><ahref="{{path('app_animal_crud_index')}}">Animal</a></li>
			<li><ahref="{{path('app_habitat_crud_index')}}">Habitat</a></li>
			<li><ahref="{{path('app_commentaire_habitat_crud_index')}}">Commentaire Habitat</a></li>
			<li><ahref="{{path('app_compte_rendu_veterinaire_crud_index')}}">Compte Rendu Vétérinaire</a></li>
			<li><ahref="{{path('app_service_crud_index')}}">Service</a></li>
			<li><ahref="{{path('app_animal_crud_index')}}">Avis</a></li>
			<li><ahref="{{path('app_home')}}">Voir le site</a></li>
		</ul>
	</div>
    <div class="col-md-8">
    
    </div>
</div>
