{{ form_start(form) }}
{{ form_row(form.pseudo) }}
{{ form_row(form.message) }}
{{ form_row(form.note) }}
{{ form_row(form.validation) }}
{{ form_row(form.user_id) }}
<button type="reset" class="button-erase">Effacer</button>
<button type="submit" class="button">Envoyer</button>
{{ form_end(form) }}