<h3>Laisser un avis</h3>
<div class="row">
	<div class="col-md-5 col-sm-12 my-3">
		{{ form_start(form) }}
		{{ form_row(form.pseudo) }}
		<div class="form-group">
			<label for="{{ form.note.vars.id }}" class="form-label">Note :</label>
			<div class="note-container">
				<span class="star" data-value="1">&#9733;</span>
				<span class="star" data-value="2">&#9733;</span>
				<span class="star" data-value="3">&#9733;</span>
				<span class="star" data-value="4">&#9733;</span>
				<span class="star" data-value="5">&#9733;</span>
			</div>
		</div>
	</div>
	<div class="col-md-7 col-sm-12 my-3">
		{{ form_row(form.message) }}
		{{ form_row(form.validation) }}
		{{ form_row(form.user_id) }}
		<button type="reset" class="button-erase">Effacer</button>
		<button type="submit" class="button">Envoyer</button>
		{{ form_end(form) }}
	</div>
</div>
