<div class="container mt-4">
	<div class="row d-flex justify-content-between">
		{% for animal in animals %}
			<div class="col-md-5 col-sm-12 mb-4">
				<div class="animal-card card h-100">
					<div
						class="row g-0">
						<div class="col-4">
							<img src="{{ asset('uploads/images/' ~ animal.image) }}" alt="Image de {{animal.firstName}} le/la {{animal.breed}}" class="img-fluid h-100 w-100" style="object-fit: cover;">
						</div>
						<div class="col-8 p-3 d-flex flex-column justify-content-between">
							<div class="card-body">
								<h5 class="card-title text-end">{{ animal.firstName }}</h5>
							</div>
							<div class="text-end">
								<a href="{{ path('app_animal_show', {'id': animal.id}) }}" class="btn button-cross">+</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
