{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
    <h1>Utilisateur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ user.role }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user_crud_index') }}">Retour à la liste</a>

    <a href="{{ path('app_user_crud_edit', {'id': user.id}) }}">Éditer</a>

    {{ include('user_crud/_delete_form.html.twig') }}
{% endblock %}
