<nav class="navbar  navbar-expand-lg w-100">
	<div class="container-fluid">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-evenly" id="navbarNavDropdown">
			<ul class="navbar-nav w-100 justify-content-between">
				<li class="nav-item">
					<a class="navbar-brand" href="{{ path('app_home') }}">Arcadia</a>
				</li>
				{% for item in nav_items() %}
					<li class="nav-item {% if item.submenu is defined %}dropdown{% endif %}">
						{% if item.submenu is defined %}
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown{{ loop.index }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								{{ item.label }}
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown{{ loop.index }}">
								{% for subItem in item.submenu %}
									<li>
										{% if subItem.route is defined %}
											<a class="dropdown-item" href="{{ path(subItem.route) }}">{{ subItem.label }}</a>
										{% else %}
											<span class="dropdown-item">{{ subItem.label }}</span>
										{% endif %}
									</li>
								{% endfor %}
							</ul>
						{% else %}
							{% if item.route is defined %}
								<a class="nav-link" href="{{ path(item.route) }}">{{ item.label }}</a>
							{% else %}
								<span class="nav-link">{{ item.label }}</span>
							{% endif %}
						{% endif %}
					</li>
				{% endfor %}
				{% if app.user %}
					<li>
						<a class="nav-link" href="{{ path('app_admin') }}">Admin</a>
					</li>
				{% else %}
					<li>
						<a class="nav-link" href="{{ path('app_avis') }}" class="nav-link">Avis</a>
					</li>
				{% endif %}
				{% if app.user %}
					<li>
						<a href="{{ path('app_logout') }}" class="button nav-link">Déconnexion</a>
					</li>
				{% else %}
					<li>
						<a href="{{ path('app_login') }}" class="button nav-link">Connexion</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
