{% extends 'base.html.twig' %}

{% block title %}Contactez nous
{% endblock %}

{% block body %}
	<div class="presentation">
		<h1 class="text-center text-uppercase">vous désirez nous contacter ? rien de plus simple !</h1>
		<p class="text-center">Remplissez notre formulaire de contact</p>
	</div>

	<div class="form-contact-container">
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">{{ message }}</div>
		{% endfor %}
		{{ form_start(contactForm) }}
		{{ form_row(contactForm.nom) }}
		{{ form_row(contactForm.email) }}
		{{ form_row(contactForm.message) }}
		<div class="d-flex justify-content-center align-items-center">
			<button type="submit" class="btn button" id="mailtoButton">Envoyer</button>
		</div>
		{{ form_end(contactForm) }}
	</div>

{% endblock %}
