{% extends 'base.html.twig' %}

{% block title %}Contactez nous{% endblock %}

{% block body %}

    <div class="container mt-5">
        <h1 class="text-center mb-4">Contactez-nous</h1>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
        {{ form_start(form, { 'attr': { 'class': 'row g-3' } }) }}
        
        <div class="col-md-6 offset-md-3">
            <div class="mb-3">
                {{ form_label(form.email, 'Adresse e-mail', { 'label_attr': { 'class': 'form-label' } }) }}
                {{ form_widget(form.email, { 'attr': { 'class': 'form-control', 'placeholder': 'Votre e-mail' } }) }}
                {{ form_errors(form.email) }}
            </div>
            
            <div class="mb-3">
                {{ form_label(form.message, 'Message', { 'label_attr': { 'class': 'form-label' } }) }}
                {{ form_widget(form.message, { 'attr': { 'class': 'form-control', 'placeholder': 'Votre message ici...', 'rows': 5 } }) }}
                {{ form_errors(form.message) }}
            </div>         
            <div class="d-grid">
                {{ form_widget(form.send, { 'attr': { 'class': 'button' } }) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>


{% endblock %}
