{% extends 'base.html.twig' %}

{% block title %}Animal{% endblock %}

{% block body %}
    <h1>Animal</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ animal.id }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ animal.firstName }}</td>
            </tr>
            <tr>
                <th>Espèce</th>
                <td>{{ animal.breed }}</td>
            </tr>
            <tr>
                <th>Régime</th>
                <td>{{ animal.diet }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_animal_crud_index') }}">retour à la liste</a>

    <a href="{{ path('app_animal_crud_edit', {'id': animal.id}) }}">edit</a>

    {{ include('animal_crud/_delete_form.html.twig') }}
{% endblock %}
