{% extends 'base.html.twig' %}

{% block title %}Section Commentaire Habitat
{% endblock %}

{% block body %}
	<h1>Section Commentaire Habitat</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Message</th>
				<th>Amélioration nécessaire</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for commentaire_habitat in commentaire_habitats %}
				<tr>
					<td>{{ commentaire_habitat.id }}</td>
					<td>{{ commentaire_habitat.message }}</td>
					<td>{{ commentaire_habitat.improvement ? 'Yes' : 'No' }}</td>
					<td>
						<a class="btn button" href="{{ path('app_commentaire_habitat_crud_show', {'id': commentaire_habitat.id}) }}">voir</a>
						<a class="btn button" href="{{ path('app_commentaire_habitat_crud_edit', {'id': commentaire_habitat.id}) }}">éditer</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">pas d'enregistrements trouvés</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% if app.user and is_granted ('ROLE_VETERINAIRE') %}

		<a class="btn btn-dark" href="{{ path('app_commentaire_habitat_crud_new') }}">Créer nouveau commentaire d'habitat</a>
	{% else %}

	{% endif %}
{% endblock %}
