{% extends "base.html.twig" %}
{% block title %}Panneau d'administration
{% endblock %}
{% block body %}

	<h1 class="text-center">Panneau d'Administration d'Arcadia</h1>
	<div>
		<div class="row">
			<div class="col-2 bg-dark text-white p-3 mt-5">
				<h2 class="my-3 text-center">Gestion
				</h2>
				<div class="section gestion">
					<ul class="list-unstyled">
						{% if is_granted('ROLE_ADMIN') %}
							<li>
								<a class="nav-link button-crud-menu mt-3 text-center" href="{{ path('app_animal_crud_index') }}">Animal</a>
							</li>
						{% endif %}
						{% if is_granted('ROLE_ADMIN') %}
							<li>
								<a class="nav-link button-crud-menu mt-3 text-center" href="{{ path('app_habitat_crud_index') }}">Habitat</a>
							</li>
						{% endif %}
						{% if is_granted('ROLE_VETERINAIRE') %}
							<li>
								<a class="nav-link button-crud-menu mt-3 text-center" href="{{ path('app_commentaire_habitat_crud_index') }}">Commentaire Habitat</a>
							</li>
						{% endif %}
						{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_VETERINAIRE') %}
							<li>
								<a class="nav-link button-crud-menu mt-3 text-center" href="{{ path('app_compte_rendu_veterinaire_crud_index') }}">Compte Rendu Vétérinaire</a>
							</li>
						{% endif %}
						{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EMPLOYEE') %}
							<li>
								<a class="nav-link button-crud-menu mt-3 text-center" href="{{ path('app_service_crud_index') }}">Service</a>
							</li>
						{% endif %}
						{% if is_granted('ROLE_EMPLOYEE') %}
							<li>
								<a class="nav-link button-crud-menu mt-3 text-center" href="{{ path('app_avis_crud_index') }}">Avis</a>
							</li>
						{% endif %}
						{% if is_granted('ROLE_ADMIN') %}
							<li>
								<a class="nav-link button-crud-menu mt-3 text-center" href="{{ path('app_user_crud_index') }}">Personnel</a>
							</li>
						{% endif %}
						<li>
							<a class="nav-link button-crud-menu mt-3 text-center" href="{{ path('app_home') }}">Retour à la page d'accueil</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-10 d-flex justify-content-evenly mt-5">
				{% if is_granted('ROLE_ADMIN') %}
					<div class="crud-card">
						<a class="nav-link text-center" href="{{ path('app_animal_crud_index') }}">Section Animal</a>
					</div>
				{% endif %}
				{% if is_granted('ROLE_ADMIN') %}
					<div class="crud-card">
						<a class="nav-link text-center" href="{{ path('app_habitat_crud_index') }}">Section Habitat</a>
					</div>
				{% endif %}
				{% if is_granted('ROLE_VETERINAIRE') %}
					<div class="crud-card">
						<a class="nav-link text-center" href="{{ path('app_commentaire_habitat_crud_index') }}">Section Commentaire Habitat</a>
					</div>
				{% endif %}
				{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_VETERINAIRE') %}
					<div class="crud-card">
						<a class="nav-link text-center" href="{{ path('app_compte_rendu_veterinaire_crud_index') }}">Section Compte Rendu Vétérinaire</a>
					</div>
				{% endif %}
				{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EMPLOYEE') %}
					<div class="crud-card">
						<a class="nav-link text-center" href="{{ path('app_service_crud_index') }}">Section Service</a>
					</div>
				{% endif %}
				{% if is_granted('ROLE_EMPLOYEE') %}
					<div class="crud-card">
						<a class="nav-link text-center" href="{{ path('app_avis_crud_index') }}">Section Avis</a>
					</div>
				{% endif %}
				{% if is_granted('ROLE_ADMIN') %}
					<div class="crud-card">
						<a class="nav-link text-center" href="{{ path('app_user_crud_index') }}">Section Personnel</a>
					</div>
				{% endif %}
			</div>
		</div>

		<div class="section-stats  mt-5">
			<h2 class="text-center">Statistiques</h2>
			<table class="table stats-table">
				<thead>
					<tr>
						<th>Statistique</th>
						<th>Valeur</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Nombre d'animaux</td>
						<td>{{animalCount}}</td>
					</tr>
					<tr>
						<td>Nombre d'habitats</td>
						<td>{{habitatCount}}</td>
					</tr>
					<tr>
						<td>Nombre de commentaires habitat</td>
						<td>{{commentaireHabitatCount}}</td>
					</tr>
					<tr>
						<td>Nombre de comptes rendus vétérinaire</td>
						<td>{{compteRenduVeterinaireCount}}</td>
					</tr>
					<tr>
						<td>Nombre de services</td>
						<td>{{serviceCount}}</td>
					</tr>
					<tr>
						<td>Nombre d'avis</td>
						<td>{{avisCount}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	{% endblock %}
