{% extends "base.html.twig" %}
{% block title %}Panneau d'administration{% endblock %}
{% block body %}

<div class="container">
	<h1>Panneau d'administration d'Arcadia</h1>
	<h2>Bienvenue.</h2>
	<h3>Gestion </h3>
	<div class="section">
		<ul>
			<li><a href="{{path('app_animal_crud_index')}}">Animal</a></li>
			<li><a href="{{path('app_habitat_crud_index')}}">Habitat</a></li>
			<li><a href="{{path('app_commentaire_habitat_crud_index')}}">Commentaire Habitat</a></li>
			<li><a href="{{path('app_compte_rendu_veterinaire_crud_index')}}">Compte Rendu Vétérinaire</a></li>
			<li><a href="{{path('app_service_crud_index')}}">Service</a></li>
			<li><a href="{{path('app_animal_crud_index')}}">Avis</a></li>
            <li><a href="{{path('app_user_crud_index')}}">Personnel</a></li>
		</ul>
	</div>

</div>

{% endblock %}